* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5rem;
  color: white;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

h2 {
  font-size: 1.3rem;
}

p {
  color: black;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  position: relative;
  left: 10px;
}

/* footer { Arrumar o footer pra utilizar ainda..
  background-color: blue;
  height: 80px;
  width: 160px;
  position: relative; 
  text-align: center;
  z-index: 999;
  margin: 0 auto;
} */

.div1 {
  background: linear-gradient(to right, #0077be, #00b4d8);
  text-align: center;
}

.logoh1 {
  width: 150px;
  vertical-align: middle;
}

.imgbn {
  width: 100%;
  height: 400px;
  background: url(https://i.guim.co.uk/img/media/f5108293ddff6c1b5887c80194b9a110d6c13258/0_739_3898_2339/master/3898.jpg?width=1900&dpr=1&s=none)
    center center no-repeat;
  background-size: cover;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  display: flex;
  align-items: auto;
  justify-content: auto;
}

.divimginside {
  width: 25%;
  min-width: 300px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div2 {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.div2 a {
  color: #000000;
  position: relative;
  text-decoration: none;
}

.div3 {
  background: #f4e5c3;
  text-align: center;
  padding: 14px 175px;
}

.div4 {
  background: mintcream;
  display: flex;
  justify-content: space-between;
  padding: 0px 7px;
  border: black 1px solid;
  text-align: left;
  line-height: 20px;
}

.painav1 {
  display: grid;
  justify-content: center;
  height: 100vh;
}

.divnav1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: auto;
  background: lightgrey;
}

.sect1nav {
  position: relative;
  width: 750px;
  height: 200px;
  margin: 40px 0;
  border: 2px solid #0077be;
  border-radius: 30px;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 1;
}

.textoverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0f0f0;
  z-index: 2;
  text-align: center;
  font-size: 1.5rem;
}

.navdivtitle {
  background-color: white;
  width: 700px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #0077be;
  padding: 5px;
}

.h2nav {
  padding: 10px;
  font-size: 2.5rem;
  color: black;
  text-align: center;
}

.h3nav {
  padding: 5px 10px;
  font-size: 1.2rem;
  color: black;
}

.pnav {
  padding: 15px 10px;
  font-size: 1rem;
  color: black;
  text-align: left;
}

#meio {
  text-align: center;
}

#right {
  text-align: right;
}

#divimginside {
  font-size: 25px;
  color: white;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

#h3divimg,
#h3divimg2 {
  font-size: 14px;
  color: white;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

#h3divimg {
  padding-top: 10px;
}

/*card/boxes*/
.donateBoxgeneral {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.donateBoxunique {
  margin: 10px;
  background-color: rgb(195, 201, 226);
  color: black;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
}

.donateBoxunique:hover {
  transform: scale(1.03);
}

.donateBoxunique > h1 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 0.8px;
}

.donateBoxunique > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#turtle {
  position: relative;
  transform: translateY(-25px);
}

.pressDonate {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #008cff;
  color: white;
  font-weight: 500;
  transition: background 0.7s;
  cursor: pointer;
  margin-top: auto; /* Adicionar espaço automático acima do botão */
}

.pressDonate:hover {
  background-color: aqua;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#fontdonate,
#fontdonate2,
#fontdonate3 {
  font-size: 18px;
  text-align: left;
  padding: 15px 5px;
}

#fontdonate2 {
  padding-top: 10px;
  padding-bottom: 15px;
}
#fontdonate3 {
  padding-bottom: 30px;
}

@media (max-width: 1024px) {
  .divimginside {
    width: 50%;
    margin-left: 0;
    padding: 10px;
  }

  #divimginside {
    font-size: 18px;
  }

  #h3divimg,
  #h3divimg2 {
    font-size: 17px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .divimginside {
    width: 60%;
    padding: 10px;
  }

  #divimginside {
    font-size: 20px;
  }

  #h3divimg,
  #h3divimg2 {
    font-size: 16px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .divimginside {
    width: 100%;
    padding: 10px;
    margin-left: 0;
  }

  #divimginside {
    font-size: 18px;
  }

  #h3divimg,
  #h3divimg2 {
    font-size: 16px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .divimginside {
    width: 100%;
    padding: 5px;
    margin-left: 0;
  }

  #divimginside {
    font-size: 16px;
  }

  #h3divimg,
  #h3divimg2 {
    font-size: 14px;
    padding: 5px;
  }

  .logoh1 {
    width: 80px;
  }

  h1 {
    align-items: center;
    font-size: 2.8rem;
    margin-right: 30px;
  }
}

#btnBackToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 1rem;
  background-color: #00CED1 ;
  color: white;
  cursor: pointer;
  padding: 17px;
  border-radius: 50%;
}

#btnBackToTop:hover {
  background-color: grey;
}

.container {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 1200px;
}

.container .boxHelped {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 15px;
  background-color: mintcream;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .boxHelped .boxContent {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .boxHelped:hover .boxContent {
  transform: translateY(0px);
  opacity: 1;
}

.container .boxHelped .boxContent h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(0, 255, 204, 0.06);
  pointer-events: none;
}

.container .boxHelped .boxContent h3 {
  font-size: 2em;
  z-index: 1;
}

.container .boxHelped .boxContent p {
  font-size: 1em;
  font-weight: 450;
}

.container .boxHelped .boxContent a {
  color: rgb(66, 155, 223);
  text-decoration: none;
  font-weight: 600;
}

.centerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: #0077be;
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#148d91, #0664e0);
  border-radius: 25px;
}

.roboto-regular-3 {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 25px;
}

.roboto-regular-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-align: left;
}

.containerTwo {
  width: 280px;

  height: 400px;
}

.containerTwo:hover > .boxTwo {
  cursor: pointer;

  transform: rotateY(180deg);
}

.boxTwo {
  position: relative;

  width: 280px;

  height: 400px;

  margin: 30px;

  transition: transform 1005ms;

  transform-style: preserve-3d;
}

.frontG,
.back {
  height: 100%;

  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  border-radius: 15px;

  position: absolute;

  backface-visibility: hidden;
}

.frontP,
.back {
  height: 100%;

  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  border-radius: 15px;

  position: absolute;

  backface-visibility: hidden;
}

.frontT,
.back {
  height: 100%;

  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  border-radius: 15px;

  position: absolute;

  backface-visibility: hidden;
}

.frontG {
  background-image: url(/imgs/gabrielabout.jpeg);

  background-size: 116%;
}
